{% include 'components/head.html' %}

{% if not apenas_produtos %}
    {% include 'components/header_body.html' %}
{% endif %}

{% include 'components/table_start.html' %}

{% if not apenas_produtos %}

<!-- Início | Banners Principal + Entrega -->
{% include 'components/bloco_01_banners_principais.html' %}
{% include 'components/bloco_02_banner_entrega.html' %}
<!-- Fim | Banners Principal + Entrega -->

<!-- Início | Banners Pré Produto -->
{% if componente_bloco_03 %}
    {% include 'components/' ~ componente_bloco_03 ~ '.html' %}
{% endif %}
<!-- Fim | Banners Pré Produto -->
{% endif %}

<!-- Início | Produtos -->
<tr>
    <td align="center" valign="top" style="font-size: 0; padding: 0;">
        <!-- PRODUTOS_AQUI -->
    </td>
</tr>
<!-- Fim | Produtos -->

{% if not apenas_produtos %}
<!-- Início | Call to Action -->
<tr>
    <td align="center">
        <table border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;">
            <tbody>
                <tr>
                    <td align="center" style="border-radius: 52px;" bgcolor="#ff0000">
                        <a target="_blank" 
                           style="font-size: 16px; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none; border-radius: 52px; padding: 15px 25px; display: inline-block;" 
                           href="{{ cta_url }}">
                            Ver todas as ofertas
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<!-- Fim | Call to Action -->
 
<!-- Início | Banner Pós Produto -->
{% if componente_bloco_05 %}
    {% include 'components/' ~ componente_bloco_05 ~ '.html' %}
{% endif %}
<!-- Fim | Banner Pós Produto -->

<!-- Início | Rodapé -->
{% if componente_bloco_cupom %}
    {% include 'components/' ~ componente_bloco_cupom ~ '.html' %}
{% endif %}
{% include 'components/footer.html' %}
{% endif %}

{% include 'components/body_end.html' %}
