<!-- Início | Banner 1x4 -->
<tr>
    <td style="padding: 4px 0; text-align: center;">
        <a target="_blank" href="">
            <img alt="" src="https://placehold.co/600x150?text=Banner+600x150" />
        </a>
    </td>
</tr>
<tr>
    <td style="padding: 4px 0; text-align: center;">
        <a target="_blank" href="">
            <img alt="" src="https://placehold.co/600x150?text=Banner+600x150" />
        </a>
    </td>
</tr>
<tr>
    <td style="padding: 4px 0; text-align: center;">
        <a target="_blank" href="">
            <img alt="" src="https://placehold.co/600x150?text=Banner+600x150" />
        </a>
    </td>
</tr>
<tr>
    <td style="padding: 4px 0; text-align: center;">
        <a target="_blank" href="">
            <img alt="" src="https://placehold.co/600x150?text=Banner+600x150" />
        </a>
    </td>
</tr>
<!-- Fim | Banner 1x4 -->
