<tr>
    <td align="center">
        <a target="_blank" href="https://www.superkoch.com.br/promocoes?utm_campaign=email+marketing&amp;utm_medium=comprar+online+%C3%A9+super&amp;utm_source=email-mkt">
            <img alt="" src="https://dl.dnzdns.com/v/5dllb8ABnOM0413" />
        </a>
    </td>
</tr>
<tr>
    <td align="center">
        <a target="_blank" href="https://www.superkoch.com.br/promocoes?utm_campaign=encarte+13%2F10&amp;utm_medium=banner&amp;utm_source=email-mkt">
            <img alt="" src="https://dl.dnzdns.com/v/vU0531ABF0211" />
        </a>
    </td>
</tr>