<tr>
    <td align="center" valign="top" style="font-size: 0; padding: 0;">
        <div class="column" style="display: inline-block; width: 50%; max-width: 300px; vertical-align: top; box-sizing: border-box; padding: 4px;">
            <a target="_blank" href="https://www.superkoch.com.br/produtos/7063813/amaciante-de-roupas-concentrado-girando-sol-coco-e-baunilha-frasco-1l?utm_campaign=encarte+13%2F10&amp;utm_medium=vertical+01&amp;utm_source=email-mkt">
                <img alt="" src="https://dl.dnzdns.com/v/w9nD2dABF0480" />
            </a>
        </div>
        <div class="column" style="display: inline-block; width: 50%; max-width: 300px; vertical-align: top; box-sizing: border-box; padding: 4px;">
            <a target="_blank" href="https://www.superkoch.com.br/produtos/7067750/contra-file-bovino-sulbeef-vacuo-kg?utm_campaign=encarte+13%2F10&amp;utm_medium=vertical+02&amp;utm_source=email-mkt">
                <img alt="" src="https://dl.dnzdns.com/v/0XNZ97ABF0412" />
            </a>
        </div>
    </td>
</tr>