<tr>
    <td align="center" valign="top" style="font-size: 0; padding: 0;">
        <div class="column" style="display: inline-block; width: 50%; max-width: 300px; vertical-align: top; box-sizing: border-box; padding: 4px;">
            <a target="_blank" href="">
                <img alt="" src="https://placehold.co/300x400?text=Banner+300x400" />
            </a>
        </div>
        <div class="column" style="display: inline-block; width: 50%; max-width: 300px; vertical-align: top; box-sizing: border-box; padding: 4px;">
            <a target="_blank" href="">
                <img alt="" src="https://placehold.co/300x400?text=Banner+300x400" />
            </a>
        </div>
        <div class="column" style="display: inline-block; width: 50%; max-width: 300px; vertical-align: top; box-sizing: border-box; padding: 4px;">
            <a target="_blank" href="">
                <img alt="" src="https://placehold.co/300x400?text=Banner+300x400" />
            </a>
        </div>
        <div class="column" style="display: inline-block; width: 50%; max-width: 300px; vertical-align: top; box-sizing: border-box; padding: 4px;">
            <a target="_blank" href="">
                <img alt="" src="https://placehold.co/300x400?text=Banner+300x400" />
            </a>
        </div>
    </td>

</tr>