<!-- Início | Footer -->
<tr>
    <td align="center">
        <table border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;">
            <tbody>
                <tr>
                    <td align="center" style="border-radius: 52px;" bgcolor="#ff0000"><a target="_blank" style="font-size: 16px; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none;border-radius: 52px; padding: 15px 25px; display: inline-block;" href="https://www.superkoch.com.br/promocoes?utm_campaign=encarte+13%2F10&amp;utm_medium=todas+as+ofertas&amp;utm_source=email-mkt">Ver todas as ofertas</a></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td style="padding: 4px 0; text-align: center;">
        <a target="_blank" href="https://suplink.superkoch.com.br/cl/PVToE/A/12f1/0/BQ-Y/OZXgtamxRCg/1/?utm_campaign=email+marketing&amp;utm_medium=atendimento+sac&amp;utm_source=email-mkt">
            <img alt="" style="display: block; max-width: 600px; border-width: 0px; border-style: solid;" src="https://dl.dnzdns.com/v/j4Eeb9ABF0417" />
        </a>
    </td>
</tr>
<tr>
    <td style="padding: 10px 0; text-align: center;">
        <img alt="" style="display: block; max-width: 600px; border-width: 0px; border-style: solid;" src="https://dl.dnzdns.com/v/9L3S7bABF0413" />
    </td>
</tr>
<tr>
    <td align="left" style="padding: 20px 15px; background-color: #ffffff;">
        <p style="margin: 0; font-family: Arial, sans-serif; font-size: 12px; line-height: 18px; color: #888888; text-align: justify; text-justify: inter-word;">VALIDO ATÉ 17/10/2025<br />SUPERMERCADOS KOCH | Raz&atilde;o Social: KOCH HIPERMERCADO S/A | CNPJ 02.831.172/0002-13 | Endere&ccedil;o: AV BAYER FILHO, 725. CENTRO. Tijucas/SC. CEP 88.200-000 | Imagens de produtos meramente ilustrativas. | &Eacute; proibida
                        a venda de bebidas alco&oacute;licas para menores de 18 anos, conforme Lei n.&deg; 8069/90, art. 81, inciso II (Estatuto da Crian&ccedil;a e do Adolescente). Bebida Alco&oacute;lica pode causar depend&ecirc;ncia qu&iacute;mica
                        e, em excesso, provoca graves males &agrave; sa&uacute;de. Beba com modera&ccedil;&atilde;o. | Em caso de diverg&ecirc;ncia de pre&ccedil;os no site, &eacute; v&aacute;lido o valor do Carrinho de Compras. | Os Produtos, pre&ccedil;os,
                        ofertas e condi&ccedil;&otilde;es de pagamento exibidas no site s&atilde;o v&aacute;lidas exclusivamente para a loja virtual www.superkoch.com.br e somente durante o dia de hoje e est&atilde;o sujeitas a altera&ccedil;&otilde;es
                        sem pr&eacute;via notifica&ccedil;&atilde;o. | Para melhor atender nossos clientes, n&atilde;o vendemos por atacado e reservamo-nos o direito de limitar a venda a 12 unidades/kg/litros, por cliente | Venda sujeita a disponibilidade
                        de estoque no dia da entrega. No caso de faltar algum produto, este n&atilde;o ser&aacute; entregue e o valor correspondente n&atilde;o ser&aacute; cobrado.</p>
    </td>
</tr>
</tbody>
    </table>
</body>
</html>